[Unit]
Description=Munchly
Requires=multi-user.target
After=multi-user.target

[Service]
User=nobody
ExecStart=/usr/bin/node /srv/munchly/server.js
WorkingDirectory=/srv/munchly
Environment=NODE_ENV=production
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
